 :root {
    --width:98vw;
    --height:98vh;
    font-size: 4vh;
}

@media (min-width: 600px){
    :root {
        --width:70vw;
    }
}

#main, #header {
    width:var(--width);
    margin:0 auto;
}

.view {
    width:calc(var(--width));
}
.subviews {
    padding:0;
}
.subviews > .view-wrap {
    width:var(--width);
    min-width:var(--width);
    min-height:79vh;
    height:79vh;
}

.controls {
    width:100%;
    display: grid;
    overflow: auto;
    row-gap: 2vh;
    place-items: center;
    max-height:calc(var(--height) * 0.7);
}
.controls::before {
    content:"controls";
    font-style: italic;
    display: grid;
}

input[type="number"] {
    height:8vh;
    width:90%;
}
.options {
    width:90%;
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
}

input[type="radio"] {
    height: 5vh;
    width:5vw;
}

input[type="radio"]::after{
    content: attr(value);
    padding-left: 7vw;
    display: block;
    line-height: 5vh;
    text-align: center;
    font-size: medium;
}

.canvas-wrapper {
    width:min(var(--width),calc(var(--height)*0.8));
    height:min(var(--width),calc(var(--height)*0.8));
    background-color: hsla(0, 0%, 80%, 0.39);
}

.canvas-wrapper > canvas {
    width:min(var(--width),var(--height));
    height:min(var(--width),var(--height));
}