
input[type="number"] {
    height:8vh;
    width:90%;
}
.options {
    width:90%;
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
}

input[type="radio"] {
    height: 5vh;
    width:5vw;
}

input[type="radio"]::after{
    content: attr(value);
    padding-left: 7vw;
    display: block;
    line-height: 5vh;
    text-align: center;
    font-size: medium;
}

.canvas-wrapper {
    width:min(var(--width),calc(var(--height)*0.8));
    height:min(var(--width),calc(var(--height)*0.8));
    background-color: hsla(0, 0%, 80%, 0.39);
}

.canvas-wrapper > canvas {
    width:min(var(--width),var(--height));
    height:min(var(--width),var(--height));
}

#mnml .subview-wrap > .subview {
    place-items: start;
    place-content: start;
    width: calc(var(--width) * 0.98)
}

#mnml .subview-wrap.quiz > .subview {
    display: none;
  }
#mnml .subview-wrap.quiz > .subview.current {
    display: grid;
  }

#mnml .subview-wrap {
    height:var(--height);
    overflow-y: hidden;
}
#mnml .subview-wrap > .subview {

    overflow-y: auto;
}

/* sleephealth */
.options {
    display: grid;
    grid-template: 2/2;
    width: calc(var(--width) * 0.9);
    height: calc(var(--width) * 0.9);
    gap: 1vw;
    grid-template: ". ." ". .";
}

.options > div {
    background: #ccc;
    display: grid;
    place-content: center;
}
.options > div.correct.selected {
    background: green;
}

.options > div.selected {
    background: red;
}

.view#sleephealth > .subview-wrap {
    z-index: 1;
}

#mnml #wordCanvas{
    width:auto;
    height: auto;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}

#mnml img {
    width: calc(var(--width) * 0.97);
}